{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block body %}

    <div class="row mt-5 text-center">
        {% for movie in movies %}
         
             {% include "partials/movie_block.html.twig" %}

        {% endfor %}
    </div>

{% endblock %}
