
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item "><a href="{{ path('app_home') }}" class="nav-link hover colorWhite green " aria-current="page">Accueil</a></li>
        <li class="nav-item "><a href="{{ path('app_movies') }}" class="nav-link hover  greenColor">Les Films</a></li>
        <li class="nav-item "><a href="#" class="nav-link hover greenColor">Pricing</a></li>
        <li class="nav-item "><a href="#" class="nav-link hover greenColor">FAQs</a></li>
        <li class="nav-item "><a href="#" class="nav-link hover greenColor">About</a></li>
      </ul>
    </header>
  